html{background-color: #52b5f7c0;

}
.pag{
    display: flex;
    height: 99%;
    justify-content: center;
    flex-direction: row;
 
}
.diaHora{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    justify-content: space-between;
}
.dia{
    padding-left: 20px;
}

.hora{
    font-size: larger;
    align-self:baseline;
    padding-right: 20px;
    margin-left: 50px;
}
.clima{
    width: 60%;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.transp{
    width: 40%;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.temperaturas{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    
}
.temp{
    background-color: #15547ec0;
    font-size: 40px;
    text-align: center;
    width: 150px;
    height: 150px;
    margin-left: 8px;
    margin-right: 10px;
    border-radius: 30px;
}
.limit{
    display: flex;
    width: fit-content;
    width: 90%;
    padding: 10px;
    margin: 10px;
    justify-content:space-between;
}
.masInfo{
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    justify-content: center;
    width: 500px;
    border-radius: 20px;
}
.maxMin{
    background-color: #15547ec0;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    font-size: x-large;
}
.max , .min{
    padding: 20px;
    
}

.extend{
    display: flex;
    text-align: center;
    width: fit-content;
    height: 150px;
    margin-right: 9px;
    background-color: rgb(255, 255, 255);
}

.datos{
    display: grid;
    height: 35vh;
   
    grid-template: auto;
    grid-template-columns: repeat(3, 30px [col-start]);
    justify-content: center;
    align-items: center;
    padding-right: 70px;
    row-gap: 10px;
    column-gap: 25%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}
.datos > *{
    background-color: rgb(10, 98, 180);
    align-self: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    padding: 15px;
    padding-bottom: 18px;
}
.calidad{
    font-size: small;
   padding-bottom: 18px;
}

.cambios{
    font-size: small;
}