.pag{
    display: flex;
    height: 97vh;
    justify-content: center;
    flex-direction: row;  
}
.diaHora{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    justify-content: space-between;
}
.dia{
    padding-left: 20px;
}
.hora{
    font-size: larger;
    align-self:baseline;
    padding-right: 20px;
    margin-left: 50px;
}
.clima{
    width: 60%;
    border: black;
    border-style: solid;
    border-width: 1px;
}

.transp{  
    width: 40%;
    border: black;
    border-style: solid;
    border-width: 1px;
}
div{
    border: black;
    border-style: solid;
    border-width: 1px;
}
.temperaturas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.temp{
    font-size: 40px;
    text-align: center;
    width: 150px;
    height: 150px;
    margin-left: 8px;
}
.limit{
    display: flex;
    width: fit-content;
    width: 90%;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
}
.maxMin{
    display: flex;
    padding: 10px;
}
.extend{
    text-align: center;
    width: 600px;
    height: 150px;
    margin-right: 9px;
    background-color: chocolate;
}

.datos{
    display: grid;
    height: 35vh;
    margin-top: 20px;
    grid-template: auto;
    grid-template-columns: repeat(3, 1fr [col-start]);  
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    column-gap: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: rgb(214, 11, 11);
    border-style: solid;
   
}

.uv{
    align-self: center;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 10%;
}
.viento{
    align-self: center;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 10px;
}
.cambios{ 
    align-self: center;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 10px;
}
.humedad{ 
    align-self: center;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 10px;
}
.visib{
    align-self: center;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 10px;
}
.calidad{
    align-self: center;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 10px;
    }
